<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Available Books</h1>

    <form method="get" class="row mb-4">
        <div class="col-md-5">
            <input type="text" name="search" class="form-control" placeholder="Search by Title" value="{{ request.GET.search }}">
        </div>
        <div class="col-md-4">
            <select name="category" class="form-control">
                <option value="">All Categories</option>
                {% for cat in categories %}
                    <option value="{{ cat.name }}">{{ cat.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary w-100">Filter</button>
        </div>
    </form>

    <div class="row">
        {% for book in page_obj %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5>{{ book.title }}</h5>
                    <p>Author: {{ book.author.name }}</p>
                    <p>Category: {{ book.category.name }}</p>
                    <a href="{% url 'book_detail' book.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mt-4 text-center">
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

</div>
</body>
</html>
